<head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="title" content="{{@page.title}} - {{@site.title}}">
    <meta name="description" content="{{@site.description}}">
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="{{@page.title}} - {{@site.title}}">
    <meta name="og:description" content="{{@site.description}}">
    <meta name="og:image" content="{{@site.metatags.og:image}}">
    <meta name="og:url" content="{{@site.url}}">
    {{#if @site.favicon}}
    <link rel="icon" href="{{@site.favicon}}" type="image/png">
    {{/if}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap">
    <link rel="stylesheet" href="/low.css">
    <link rel="stylesheet" href="/highlight.css">
    <link rel="stylesheet" href="/brand.css">
    <title>{{@page.title}} - {{@site.title}}</title>
</head>
