<a href="/" class="flex items-center gap-1 cursor-pointer leading-none">
    <div class="flex items-center w-10 h-10">
        <img src="/logo.svg" width="100%" height="100%">
    </div>
    <div class="text-4xl font-brand text-current">folio.</div>
</a>
