<div class="flex flex-col sm:flex-row justify-center items-center gap-6">
{{#each this.items}}
    <a href="{{this.url || this.link}}" class="text-white font-bold text-2xl hover:underline">
        <span>{{!this.text}} →</span>
    </a>
{{/each}}
</div>
