<section class="px-6 mx-auto max-w-6xl">
    <div class="bg-gray-950 text-white px-6 py-28 text-center rounded-4xl">
        <div class="flex flex-col gap-4 mb-12 items-center">
            <div class="max-w-4xl text-5xl md:text-6xl text-center leading-none">
                <span class="font-extrabold">{{!this.title}}</span>
            </div>
            {{#if this.description}}
            <div class="opacity-90 text-2xl max-w-2xl">
                <span>{{!this.description}}
            </div>
            {{/if}}
        </div>
        <div class="flex flex-col sm:flex-row justify-center items-center gap-6">
            {{#if this.primaryActionText}}
            <a href="{{this.primaryActionLink}}" class="bg-white text-gray-950 px-6 py-4 rounded-3xl text-2xl font-bold hover:bg-gray-200">
                <span>{{!this.primaryActionText}} →</span>
            </a>
            {{/if}}
            {{#if this.secondaryActionText}}
            <a href="{{this.secondaryActionLink}}" class="text-white font-bold text-2xl hover:underline">
                <span>{{!this.secondaryActionText}} →</span>
            </a>
            {{/if}}
        </div>
    </div>
</section>

