<div class="">
    {{#each this.items}}
    <div class="border-b-1 border-current" data-role="faq:item">
        <button class="bg-transparent text-xl w-full flex justify-between items-center border-0 py-6 cursor-pointer" data-role="faq:question">
            <div class="font-bold text-left">{{!this.question}}</div>
            <div class="" data-role="faq:toggle">+</div>
        </button>
        <div class="hidden pt-2 pb-6 text-lg leading-relaxed" data-role="faq:answer">
            <span class="opacity-80">{{!this.answer}}</span>
        </div>
    </div>
    {{/each}}
</div>
<script>
    Array.from(document.querySelectorAll(`[data-role="faq:question"]`)).forEach(button => {
        button.addEventListener("click", () => {
            const item = button.closest(`[data-role="faq:item"]`);
            const answer = item.querySelector(`[data-role="faq:answer"]`);
            const isOpen = !answer.classList.contains("hidden");
            // 1. we have to close all other items and change the toggle icon to a '+'
            document.querySelectorAll(`[data-role="faq:answer"]`).forEach(otherAnswerItem => {
                otherAnswerItem.classList.add("hidden");
            });
            document.querySelectorAll(`[data-role="faq:toggle"]`).forEach(otherToggleItem => {
                otherToggleItem.textContent = "+";
            });
            // 2. Now, we toggle the current item
            if (!isOpen) {
                answer.classList.remove("hidden");
                item.querySelector(`[data-role="faq:toggle"]`).textContent = "-";
            }
        });
    });
</script>
