<div class="w-full grid grid-cols-1 md:grid-cols-3 gap-8">
    {{#each this.features}}
    <div class="mb-2 bg-gray-100 rounded-2xl p-8">
        {{#if this.icon}}
        <div class="flex justify-start mb-6">
            <div class="flex items-center text-gray-950">
                {{=icon icon=this.icon className="w-10 h-10"}}
            </div>
        </div>
        {{/if}}
        <div class="font-bold text-xl leading-tight mb-4 text-gray-950">{{!this.title}}</div>
        <div class="leading-relaxed">{{!this.description}}</div>
    </div>
    {{/each}}
</div>
