<div class="w-full grid grid-cols-1 md:grid-cols-{{this.size}} gap-12" data-role="group">
    {{#each this.items}}
    <article class="mb-2">
        {{#if this.icon}}
        <div class="flex mb-6">
            <div class="flex items-center {{@partial.options.iconClassName}}">
                {{=icon icon=this.icon className="w-16 h-16 opacity-80"}}
            </div>
        </div>
        {{/if}}
        {{#if this.title}}
        <div class="font-extrabold text-2xl leading-tight mb-3 {{@partial.options.titleClassName}}">
            <span>{{!this.title}}</span>
        </div>
        {{/if}}
        {{#if this.description}}
        <div class="leading-relaxed opacity-80 text-lg {{@partial.options.descriptionClassName}}">
            <span>{{!this.description}}</span>
        </div>
        {{/if}}
        {{#if this.image}}
        <div class="mt-6 w-full rounded-2xl bg-white overflow-hidden">
            <img src="{{this.image}}" alt="{{this.title}} screenshot" width="100%" loading="lazy">
        </div>
        {{/if}}
    </article>
    {{/each}}
</div>
