<section class="max-w-6xl mx-auto px-6 py-20 sm:py-32 md:py-48 flex flex-col justify-center items-center gap-6">
    {{#if this.label}}
    <div class="flex items-center justify-center">
        <div class="text-current px-4 py-1 rounded-full border-1 border-current text-base opacity-60">
            <span class="font-medium">{{!this.label}}</span>
        </div>
    </div>
    {{/if}}
    <div class="mb-0 text-6xl sm:text-7xl md:text-8xl lg:text-9xl text-center leading-tight font-extrabold">
    {{#each this.title}}
        <span class="{{this.className}}">{{!this.text}}</span>
    {{/each}}
    </div>
    {{#if this.subtitle}}
    <div class="max-w-4xl mb-0 text-2xl md:text-3xl text-center">
        <span class="opacity-80">{{!this.subtitle}}</span>
    </div>
    {{/if}}
    {{!@content}}
    {{#if this.actions}}
    <div class="flex flex-col items-center gap-8">
        <div class="flex flex-col sm:flex-row items-center gap-4 text-center">
            {{#each this.actions}}
            <a href="{{this.url}}" class="flex items-center cursor-pointer hover:underline text-current text-2xl md:text-3xl">
                <span class="font-bold">{{!this.text}} &rarr;</span>
            </a>
            {{/each}}
        </div>
    </div>
    {{/if}}
</section>

