<section class="mx-auto max-w-6xl px-6 py-16 md:py-20" data-role="section">
    <div class="flex flex-col gap-4 mb-12" data-role="section:header">
        <div class="max-w-xl text-3xl md:text-4xl text-gray-950 leading-tight">
            <span class="font-extrabold">{{!this.title}}</span>
        </div>
        {{#if this.description}}
        <div class="max-w-xl text-gray-900">
            <span class="">{{!this.description}}</span>
        </div>
        {{/if}}
    </div>
    {{!@content}}
</section>
