<section class="mx-auto max-w-6xl px-6 py-16 md:py-20">
    {{#if this.title}}
    <div class="max-w-2xl text-4xl md:text-5xl leading-tight mb-12">
        <span class="font-bold">{{!this.title}}</span>
    </div>
    {{/if}}
    {{!@content}}
</section>
