## Port where the Authentication service will be listening
# FOLIO_AUTH_PORT=3001

## Port where the Storage service will be listenning
# FOLIO_STORAGE_PORT=3002

## Session secret key used to sign tokens
## This should be a long, random string to ensure security. 
## Note that you must provide this, as authentication and storage services share it to generate and validating sessions
# FOLIO_SESSION_SECRET=abcd12345

## session expiration time.
## This is the duration after which the token will expire.
## You can set it to a specific time like "7d" for 7 days. Times are parsed by https://www.npmjs.com/package/ms
# FOLIO_SESSION_EXPIRATION=7d

## Set a fixed access token
## If not set, the server will generate a random access token at startup that will be printed to the console.
## If you want to use a fixed access token, uncomment the line below and set your token.
## WARNING: Using a fixed access token is insecure and should only be used for testing purposes.
# FOLIO_ACCESS_TOKEN=your_fixed_access_token
