package-lock.json
yarn.lock
yarn-error.log
node_modules

# Outputs
data
www
homepage/public
firebase-debug.log
.firebase
*.tar.gz
.cache

# Configuration files
.env
.env.development
.env.production
.env.local
.firebaserc
