package-lock.json
yarn.lock
yarn-error.log
node_modules

# Outputs
data
www
homepage/public
server/dist
firebase-debug.log
.firebase
*.tar.gz
.cache
obfuscate.map.json

# Configuration files
.env
.env.development
.env.production
.env.local
.firebaserc
