<!doctype html>
<html lang="en" style="overscroll-behavior-x:none;">
<head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="title" content="Folio">
    <meta name="description" content="Folio is a digital whiteboard for sketching and prototyping">
    <meta property="og:site_name" content="Folio - Digital whiteboard">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.josemi.xyz/folio">
    <meta property="og:image" content="https://www.josemi.xyz/folio/cover.png">
    <meta property="og:description" content="Folio is a digital whiteboard for sketching and prototyping">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap">
    <link rel="stylesheet" href="./low.css">
    <title>Folio | Minimal whiteboard for sketching and prototyping</title>
</head>
<body class="m-0 p-0 font-inter leading-normal text-neutral-800 bg-white">
    <!-- Header -->
    <div class="w-full">
        <div class="flex items-center w-full max-w-7xl mx-auto h-24 px-8 select-none">
            <a href="./" class="flex items-center gap-2 text-neutral-950 no-underline">
                <div class="font-black leading-none text-4xl">
                    <span>folio.</span>
                </div>
            </a>
            <div class="hidden md:flex justify-center items-center text-lg ml-8">
                <div class="flex items-center gap-1">
                    <a href="#features" class="block px-3 py-1 rounded-lg hover:bg-neutral-900 hover:text-white">
                        <strong>features</strong>
                    </a>
                    <a href="#pricing" class="block px-3 py-1 rounded-lg hover:bg-neutral-900 hover:text-white">
                        <strong>pricing</strong>
                    </a>
                    <a href="#faq" class="block px-3 py-1 rounded-lg hover:bg-neutral-900 hover:text-white">
                        <strong>faq</strong>
                    </a>
                </div>
            </div>
            <div class="flex items-center ml-auto">
                <a href="./app" class="cursor-pointer flex items-center px-4 py-3 rounded-lg bg-neutral-950 hover:bg-neutral-900 no-underline text-lg">
                    <strong class="text-white">Try Folio</strong>
                    <i class="text-white italic">- it's free!</i>
                </a>
            </div>
        </div>
        <div class="hidden w-full h-px bg-neutral-900"></div>
    </div>
    <!-- Main content -->
    <div class="w-full">
        {{! content }}
    </div>
    <!--Footer -->
    <div class="w-full bg-black text-white">
        <div class="w-full max-w-7xl mx-auto px-8 pt-16 pb-24">
            <div class="font-black leading-none text-2xl mb-2">
                <span>folio.</span>
            </div>
            <div class="flex gap-3 mb-4 text-sm">
                <a href="./privacy" class="hover:underline text-white font-bold">Privacy</a>
                <a href="https://github.com/jmjuanes/folio/issues" target="_blank" class="hover:underline text-white font-bold">Report a bug</a>
            </div>
            <div class="mb-1 text-sm text-neutral-400">
                <span>Designed and built by <a href="https://josemi.xyz" class="hover:underline text-white font-bold">Josemi</a> in Valencia, Spain. </span>
                <span>Source code is available on <a href="https://github.com/jmjuanes/folio" class="hover:underline text-white font-bold">GitHub</a>.</span>
            </div>
            <div class="text-xs text-neutral-500">
                <span>This site does not track you.</span>
            </div>
        </div>
    </div>
</body>
</html>
