<!-- Presentation -->
<div class="pt-20 pb-20 md:pt-32 md:pb-40 px-8 w-full max-w-7xl mx-auto">
    <div class="font-black text-7xl md:text-9xl leading-none text-neutral-950">
        <span>From <u>Concept</u> to <u>Reality</u>.</span>
    </div>
    <div class="mt-8 text-2xl md:text-4xl w-full max-w-2xl text-neutral-700">
        <span>Sketch, prototype, and bring your ideas to life on an expansive canvas.</span>
    </div>
    <div class="flex mt-10">
        <a href="./app" data-role="launcher-btn" class="flex items-center gap-4 px-8 py-6 rounded-lg bg-neutral-950 hover:bg-neutral-900 text-white cursor-pointer">
            <strong class="text-2xl">Start Sketching</strong>
            <div class="flex items-center">
                <svg class="w-8 h-8"><use xlink:href="sprite.svg#arrow-right"></use></svg>
            </div>
        </a>
    </div>
</div>
<!-- Features -->
<div class="py-24 md:py-40 w-full bg-black text-white">
    <a href="#features" name="features" class=""></a>
    <div class="w-full max-w-7xl mx-auto px-8 mb-24">
        <div class="font-black text-5xl md:text-7xl leading-none max-w-4xl">
            <span>Discover the power of folio.</span>
        </div>
    </div>
    <div class="w-full max-w-7xl mx-auto px-8 grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-8">
        <!--Privacy -->
        <div class="w-full max-w-xl mb-12">
            <div class="mb-2 text-lg font-bold o-80">
                <span>Privacy First.</span>
            </div>
            <div class="font-black text-4xl md:text-5xl leading-none">
                <span>Design with total <u>Privacy</u>.</span>
            </div>
            <div class="text-xl mt-8">
                <div class="mb-2">We are committed to keeping your work private and secure. For that reason, <b>Folio</b> uses the local storage of your browser to ensure that <b>your drawings are accessible only to you</b>.</div>
                <div>Sketch and create with <b>confidence</b>.</div>
            </div>
        </div>
        <!-- Infinite canvas -->
        <div class="w-full max-w-xl mb-12">
            <div class="mb-2 text-lg font-bold o-80">
                <span>Sketch without constraints.</span>
            </div>
            <div class="font-black text-4xl md:text-5xl leading-none">
                <span>Boundless Canvas for <u>Ideas</u>.</span>
            </div>
            <div class="text-xl mt-8">
                <div>Unleash your imagination on an infinite canvas. Whether you're sketching, prototyping, or creating, <b>Folio</b> provides limitless space for your creativity to flourish.</div>
            </div>
        </div>
        <!-- Pages -->
        <div class="w-full max-w-xl mb-12">
            <div class="mb-2 text-lg font-bold o-80">
                <span>Introducing Pages.</span>
            </div>
            <div class="font-black text-4xl md:text-5xl leading-none">
                <span><u>Organize</u> your ideas seamlessly.</span>
            </div>
            <div class="text-xl mt-8">
                <div class="mb-2">The new <b>Pages</b> feature allows you to organize your drawings into distinct pages, making it effortless to manage and present your ideas.</div>
                <div>Whether you are storyboarding or brainstorming, the Pages feature provides a structured canvas for your creativity.</div>
            </div>
        </div>
    </div>
</div>
<!-- Products -->
<div class="py-24 w-full">
    <a href="#pricing" name="pricing" class=""></a>
    <div class="w-full max-w-7xl mx-auto px-8">
        <div class="font-black text-center text-6xl md:text-7xl leading-none mb-20 text-neutral-950">
            <span>Getting started.</span>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 w-full">
            <!-- Folio (Basic) description -->
            <div class="w-full">
                <div class="shadow-md w-full p-8 rounded-xl border border-neutral-200">
                    <div class="text-center leading-none mb-8 mt-4">
                        <div class="font-black text-4xl md:text-5xl text-neutral-950 mb-2">Free</div>
                        <div class="font-bold text-base">Forever.</div>
                    </div>
                    <div class="mb-4">
                        <div class="flex flex-row items-center gap-2 mb-2">
                            <div class="flex items-center">
                                <svg class="w-6 h-6"><use xlink:href="sprite.svg#check"></use></svg>
                            </div>
                            <div class="font-bold">Privacy-First Storage</div>
                        </div>
                        <div class="text-sm o-80 pl-8">
                            <span>Your artwork is securely stored on your device using the local storage of your browser, </span>
                            <span>enhancing data privacy and security.</span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="flex flex-row items-center gap-2 mb-2">
                            <div class="flex items-center">
                                <svg class="w-6 h-6"><use xlink:href="sprite.svg#check"></use></svg>
                            </div>
                            <div class="font-bold">Comprehensive set of drawing tools</div>
                        </div>
                        <div class="text-sm o-80 pl-8">
                            <span>Folio provides a full set of drawing tools, from shapes to arrows and notes!</span>
                        </div>
                    </div>
                    <div class="mb-8">
                        <div class="flex flex-row items-center gap-2 mb-2">
                            <div class="flex items-center">
                                <svg class="w-6 h-6"><use xlink:href="sprite.svg#check"></use></svg>
                            </div>
                            <div class="font-bold">Organize your drawings into pages</div>
                        </div>
                        <div class="text-sm o-80 pl-8">
                            <span>Seamlessly divide your drawings into pages, </span>
                            <span>allowing for structured layouts and easy navigation.</span>
                        </div>
                    </div>
                    <a href="./app" class="flex items-center justify-center gap-2 bg-neutral-950 text-white px-3 py-2 rounded-lg">
                        <div class="font-bold">Start with Folio</div>
                        <div class="flex text-xl">
                            <svg width="1em" height="1em"><use xlink:href="sprite.svg#arrow-right"></use></svg>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Faq -->
            <div class="w-full">
                <a href="#faq" name="faq" class=""></a>
                <div class="mb-8">
                    <div class="font-bold text-lg mb-4">Does Folio save drawings on the server?</div>
                    <div class="text-sm">
                        <span><b>Nope</b>! Folio values your privacy like a secret sketchbook. </span>
                        <span>Your drawings are securely saved right on your device. </span>
                    </div>
                </div>
                <div class="mb-8">
                    <div class="font-bold text-lg mb-4">Do you use cookies or other tracking software on the application?</div>
                    <div class="text-sm">
                        <span><b>Absolutely not</b>. Folio respects your digital privacy. </span>
                        <span>No cookies, no tracking - just you and your canvas.</span>
                    </div>
                </div>
                <div class="mb-0">
                    <div class="font-bold text-lg mb-4">How can I share my drawing with my colleague?</div>
                    <div class="text-sm">
                        <span>Currently, the best way is to download your drawing as a <i>.folio</i> file. </span>
                        <span>Then, simply share it with your colleague via email or your favorite cloud service. </span>
                        <span>We are working on even more ways to share and collaborate in the future, so stay tuned for updates!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open source -->
<div class="py-20 md:py-24 w-full">
    <div class="w-full max-w-7xl mx-auto px-8">
        <div class="font-black text-5xl md:text-6xl leading-none text-center text-neutral-950 mb-6">
            <span>Proudly <u>Open Source</u>.</span>
        </div>
        <div class="w-full max-w-2xl mx-auto text-center text-xl">
            <span><b>Folio</b> is open source and powered by open source software. </span>
            <span>The source code is available on <a href="https://github.com/jmjuanes/folio" class="font-bold underline">GitHub</a>.</span>
        </div>
    </div>
</div>
<!-- Work in progress warning -->
<div class="py-20 w-full bg-neutral-200">
    <div class="w-full max-w-7xl mx-auto px-8">
        <div class="text-2xl font-bold">
            <span><u>Warning</u>: Folio is still a Work in Progress</span>
        </div>
        <div class="mt-4">
            Please be aware that Folio is currently in active development. While the app is fully functional and offers a range of features, we are continuously working to enhance and expand its capabilities.
        </div>
        <div class="mt-2">
            You might encounter occasional bugs or experience features that are still being refined. We appreciate your patience and understanding as we work to deliver the best possible drawing experience.
        </div>
    </div>
</div>
