<div class="w-full max-w-4xl mx-auto py-12 px-8">
    <h1 class="font-black text-4xl md:text-6xl mb-2 text-neutral-950">Privacy Policy</h1>
    <div class="mb-10">
        <span><b>Effective Date:</b> September 10, 2023</span>
    </div>
    <div class="mb-10">
        <h2 class="font-bold text-2xl mb-4 uppercase">1. Introduction</h2>
        <div class="mb-4">
            Welcome to <b>Folio</b>, a digital and minimalistic whiteboard. At Folio, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy is intended to inform you about how we collect, use, and safeguard your data while using our application.
        </div>
    </div>
    <div class="mb-10">
        <h2 class="font-bold text-2xl mb-4 uppercase">2. Data Storage</h2>
        <div class="mb-4">
            All data created and stored within the application <b>resides solely on your local device</b>. <b>We do not have access to your data</b>, and it is not transmitted or stored on external servers.
        </div>
        <div class="mb-4">
            This means that your drawings, sketches, and any other content created within Folio are fully under your control.
        </div>
    </div>
    <div class="mb-10">
        <h2 class="font-bold text-2xl mb-4 uppercase">3. Cookies</h2>
        <div class="mb-4">
            Folio <b>does not use cookies</b> or employ any tracking mechanisms, including third-party cookies or services. Your browsing and drawing activities within the application remain private and untracked.
        </div>
    </div>
    <div class="mb-10">
        <h2 class="font-bold text-2xl mb-4 uppercase">4. Data Collection and Sharing</h2>
        <div class="mb-4">
            At Folio, we are committed to a policy of <b>zero data collection</b>. We do not collect, store, or share any personal or usage data. And since we do not collect data, we have nothing to share with third parties.
        </div>
        <div class="mb-4">
            It is important to note that when you export your content, <b>it becomes your responsibility to choose where to save them</b>. Folio does not have any control or responsibility over where you choose to store your exported content.
        </div>
    </div>
    <div class="mb-10">
        <h2 class="font-bold text-2xl mb-4 uppercase">5. User Responsibilities</h2>
        <div class="mb-4">
            While we take all possible measures to ensure the security and privacy of your data within the application, there are some user responsibilities:
        </div>
        <div class="mb-4">
            1. <b>Browser Updates</b>: It is the user's responsibility to keep their web browser updated to the latest version. Updated browsers often contain security enhancements that help protect your data.
        </div>
        <div class="mb-4">
            2. <b>Data Backups</b>: Folio stores your drawings and creative work locally on your device. To prevent data loss, we recommend that users perform regular backups of the data saved within the application.
        </div>
    </div>
    <div class="mb-10">
        <h2 class="font-bold text-2xl mb-4 uppercase">6. Changes to this Privacy Policy</h2>
        <div class="mb-4">
            We may update this Privacy Policy from time to time, and the updated policy will be posted on our website. By continuing to use Folio, you consent to the terms of this Privacy Policy and any updates or changes made to it.
        </div>
    </div>
    <div class="mb-10">
        <h2 class="font-bold text-2xl mb-4 uppercase">7. Contact Us</h2>
        <div class="mb-4">
            If you have any questions, concerns, or requests related to this Privacy Policy, please contact us at <b>privacy at josemi dot xyz</b>.
        </div>
    </div>
</div>
