<!doctype html>
<html lang="en" style="overscroll-behavior-x:none;">
<head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="title" content="{{site.title}}">
    <meta name="description" content="{{site.description}}">
    {{#each site.meta}}
    <meta name="{{name}}" content="{{value}}">
    {{/each}}
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap">
    <link rel="stylesheet" href="/low.css">
    <title>{{page.attributes.title}} - folio</title>
    <style>
        .font-brand {
            font-family: Poppins, serif;
            font-weight: 700 !important;
        }
    </style>
</head>
<body class="m-0 p-0 font-sans leading-normal bg-gray-950 text-white">
    <header class="flex items-center justify-between w-full px-6 pt-6">
        <a href="/" class="flex items-center gap-2 cursor-pointer text-current">
            <div class="text-4xl font-brand">folio.</div>
        </a>
        <div class="flex gap-6 items-center">
            {{#each site.navigation}}
            <a href="{{url}}" class="cursor-pointer font-bold hover:underline text-current text-lg md:text-3xl">
                <span>{{title}}</span>
            </a>
            {{/each}}
        </div>
    </header>
    {{!@content}}
    <footer class="pt-32 pb-16 px-6 w-full">
        <div class="text-4xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-brand leading-none">
            <span>folio</span>
            <span class="opacity-70">labs</span>
        </div>
        <div class="flex flex-col justify-center">
            <div class="flex gap-4 justify-center mb-4 text-sm">
                {{#each site.footer.links}}
                <a href="{{url}}" class="hover:underline text-current font-bold">{{title}}</a>
                {{/each}}
            </div>
            <div class="mb-1 text-sm opacity-60">
                <div>Designed and built by <a href="https://josemi.xyz" class="hover:underline text-current font-bold">Josemi</a> in Valencia, Spain.</div>
                <div>Source code is available on <a href="{{site.repository}}" class="hover:underline text-current font-bold">GitHub</a>.</div>
            </div>
            <div class="text-xs opacity-60">
                <span>This site does not track you.</span>
            </div>
        </div>
    </footer>
</body>
</html>
