.font-brand {
    font-family: Poppins, serif;
    font-weight: 700 !important;
}
/* 
body {
    background-image: radial-gradient(hsla(0, 0%, 86%, .3) 1px, transparent 0);
    background-size: 12px 12px;
}
*/
