<!doctype html>
<html lang="en" style="overscroll-behavior-x:none;" class="">
{{>folio::head}}
<body class="m-0 p-0 font-sans leading-normal bg-gray-950 text-white">
    <!-- header -->
    <header class="flex items-center justify-between w-full px-6 py-8 max-w-9xl mx-auto" data-role="navbar">
        {{>folio::logo variant="light"}}
        <div class="flex gap-6 items-center">
            {{#each @site.navbar.links}}
            <a href="{{=resolve_path this.href}}" class="cursor-pointer font-medium hover:underline text-current text-lg md:text-2xl">
                <span>{{this.text}}</span>
            </a>
            {{/each}}
            {{#if @site.navbar.callToAction}}
            <a href="{{@site.navbar.callToAction.href}}" class="hidden sm:flex items-center gap-1 px-3 py-2 bg-primary text-primary-foreground rounded-xl hover:opacity-90">
                <span class="font-bold text-lg md:text-xl">{{@site.navbar.callToAction.text}}</span>
                <div class="flex items-center text-xl">
                    {{>folio::icon icon="arrow-right" className=""}}
                </div>
            </a>
            {{/if}}
        </div>
    </header>
    <div class="h-px w-full bg-white opacity-20"></div>
    {{>folio::ui children=@page.children}}
    <!-- sections -->
    {{#each @page.sections}}
    <section id="{{this.id}}" class="w-full py-8 sm:py-12 md:py-20 {{this.className}}">
        <div class="w-full max-w-6xl mx-auto px-6">
            {{#each this.children}}
            {{#eq this.type "product-hero"}}
            <div class="flex flex-col gap-8 items-center {{this.className}}">
                {{#if this.icon}}
                <div class="flex justify-center mb-0">
                    <div class="flex items-center opacity-90">
                        {{>folio::icon icon=this.icon className="w-20 sm:w-28 h-20 sm:h-28"}}
                    </div>
                </div>
                {{/if}}
                {{#if this.label}}
                <div class="font-bold text-xl md:text-2xl text-center opacity-70">{{!this.label}}</div>
                {{/if}}
                <div class="max-w-5xl w-full mx-auto flex flex-col items-center">
                    <div class="text-6xl sm:text-7xl md:text-8xl leading-none font-extrabold text-center">
                        {{!this.heading}}
                    </div>
                </div>
                {{#if this.description}}
                <div class="max-w-2xl text-xl md:text-2xl text-center opacity-80 font-medium">{{!this.description}}</div>
                {{/if}}
                {{#if this.links}}
                <div class="flex flex-col sm:flex-row justify-center items-center gap-6">
                    {{#each this.links}}
                    <a href="{{=resolve_path this.href}}" class="font-bold text-2xl md:text-4xl hover:underline {{this.className}}">
                        <span>{{!this.text}} →</span>
                    </a>
                    {{/each}}
                </div>
                {{/if}}
            </div>
            {{/eq}}
            {{#eq this.type "changelog-cards"}}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                {{#each @changelog limit=this.limit}}
                <div class="rounded-2xl p-8 bg-white flex flex-col gap-2">
                    <div class="text-sm font-medium opacity-40">{{!this.version}}</div>
                    <div class="font-bold text-xl leading-tight mb-1">{{!this.title}}</div>
                    <div class="leading-relaxed opacity-80">
                        {{#inlineMarkdown}}{{!this.description}}{{/inlineMarkdown}}
                    </div>
                    <div class="flex mt-4">
                        <a href="{{=resolve "releases#" this.url}}" class="flex items-center px-3 py-2 font-bold rounded-xl bg-gray-950 text-white hover:underline">
                            <span>Read more &rarr;</span>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/eq}}
            {{/each}}
        </div>
    </section>
    {{/each}}
    <!-- footer -->
    <footer class="w-full py-8" data-role="footer">
        <div class="w-full max-w-6xl mx-auto px-8 bg-current opacity-10 h-px"></div>
        <div class="px-8 pt-16 pb-24 max-w-6xl w-full mx-auto flex flex-col md:flex-row gap-8">
            <div class="w-full sm:max-w-xs lg:max-w-md shrink-0 flex flex-col gap-4 mb-8">
                {{>folio::logo variant="light"}}
                <div class="text-sm">
                    <span class="opacity-60">Made by</span>
                    <a href="https://www.josemi.xyz" class="font-bold hover:underline">Josemi</a>
                    <span class="opacity-60">in Valencia, Spain.</span>
                </div>
            </div>
            <div class="w-full grid grid-cols-2 md:grid-cols-3 gap-8">
                {{#each @site.footer.sections}}
                <div class="col-span-1 flex flex-col gap-2">
                    <div class="text-sm font-bold opacity-40">{{this.text}}</div>
                    {{#each this.links}}
                    <a href="{{=resolve_path this.href}}" class="hover:underline text-current font-medium text-sm">
                        <span>{{this.text}}</span>
                    </a>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </footer>
</body>
</html>
