---
{
    "title": "Plans",
    "layout": "default.mustache",
    "permalink": "/plans.html",
    "hero": {
        "title": [
            {
                "text": "Plans"
            },
            {
                "text": " &amp; ",
                "className": "opacity-60"
            },
            {
                "text": "Features",
                "className": "italic font-normal"
            }
        ],
        "subtitle": "Explore the different ways to use Folio — from quick sketches in the browser to fully hosted multi-user setups."
    },
    "plans": [
        {
            "title": "Folio Lite",
            "description": "Sketch instantly. No setup.",
            "features": [
                "1 Single board.",
                "1 User.",
                "Data is stored in your browser."
            ]
        },
        {
            "title": "Folio Studio",
            "description": "Host it. Share it. Scale it.",
            "features": []
        }
    ]
}
---
{{>>hero.mustache ...page.attributes.hero}}
    <div class="py-16 grid grid-cols-1 sm:grid-cols-2 gap-6 w-full">
    {{#each page.attributes.plans}}
        <div class="border-1 border-current rounded-4xl p-8">
            <div class="text-center text-3xl sm:text-4xl md:text-5xl font-extrabold">{{this.title}}</div>
            <div class="text-center text-lg sm:text-xl font-medium opacity-80">{{this.description}}</div>
            <div class="flex flex-col gap-4 mt-8">
            {{#each this.features}}
                <div class="flex flex-row items-start gap-4">
                    <div class="shrink-0 text-current flex">
                        {{=icon icon="check" className="w-4 h-4"}}
                    </div>
                    <div class="w-full opacity-80">{{!this}}</div>
                </div>
            {{/each}}
            </div>
        </div>
    {{/each}}
    </div>
{{/hero.mustache}}

