---
{
    "title": "Studio",
    "layout": "default",
    "theme": "bg-white text-gray-950",
    "permalink": "/studio.html"
}
---
<section class="min-h-screen px-6 py-32 flex flex-col justify-center items-center">
    <div class="max-w-5xl mb-6 font-extrabold text-6xl md:text-8xl leading-none text-center">
        <span>Prototype. Self-hosted.</span>
    </div>
    <div class="max-w-4xl mb-10 text-2xl md:text-3xl text-center opacity-50">
        <span class="">A self-hosted whiteboard built for creators and designers who prefer full control and zero distractions.</span>
    </div>
    <div class="flex flex-col items-center gap-1">
        <div class="w-full max-w-sm d-flex flex-col bg-gray-950 text-white p-4 rounded-xl text-lg font-mono overflow-x-auto">
            <div>$ docker pull ghcr.io/jmjuanes/folio-studio</div>
        </div>
        <div class="text-sm select-none text-center opacity-40">
            <span>No signup. Start in less than 5 seconds.</span>
        </div>
    </div>
</section>

