---
{
    "title": "Studio",
    "layout": "default.mustache",
    "permalink": "/studio.html",
    "hero": {
        "label": "Introducing <b>Folio Studio</b>.",
        "title": [
            {
                "text": "Where "
            },
            {
                "className": "font-bold bg-gray-950 text-white rounded-2xl px-4 py-2",
                "text": "Ideas"
            },
            {
                "text": " take "
            },
            {
                "className": "italic font-normal",
                "text": "Shape."
            },
            {
                "className": "font-black",
                "text": " Locally."
            }
        ],
        "subtitle": "A self-hosted whiteboard built for creators and designers who prefer full control and zero distractions.",
        "command": "docker pull ghcr.io/jmjuanes/folio-studio",
        "actions": [
            {
                "text": "Documentation",
                "url": "/docs"
            },
            {
                "text": "GitHub",
                "url": "https://github.com/jmjuanes/folio/pkgs/container/folio-studio"
            }
        ]
    },
    "features": {
        "sectionOptions": {
            "title": [
                {
                    "className": "opacity-60",
                    "text": "Your sketching platform."
                },
                {
                    "text": " On your computer."
                }
            ],
            "description": "<b>Folio Studio</b> runs locally, giving you full control over your boards, your flow, and your data.",
        },
        "items": [
            {
                "icon": "bolt",
                "title": "Same Power, but local.",
                "description": "All the features of Folio, but running entirely on your own server or computer without any external dependencies."
            },
            {
                "icon": "lock",
                "title": "Your data, your rules.",
                "description": "No cloud, no tracking. Folio Studio stores everything locally on your server, ensuring that your data remains private and under your control."
            },
            {
                "icon": "files",
                "title": "Unlimited Creativity.",
                "description": "Organize ideas and prototypes in separate spaces. Folio Studio supports unlimited boards to keep your projects tidy and accessible."
            }
        ]
    },
    "usage": {
        "sectionOptions": {
            "title": [
                {
                    "className": "block opacity-60",
                    "text": "Manage everything"
                },
                {
                    "text": " from one place."
                }
            ],
            "description": "<b>Folio Studio</b> provides a centralized dashboard to create and manage all your boards effortlessly.",
            "className": "text-gray-950",
            "style": "background-color:#bef264;"
        },
        "items": [
            {
                "title": "Manage your boards",
                "description": "Rename, duplicate, save a local copy, or delete any of your boards from your sidebar.",
                "image": "/screenshots/studio-manage-20251006.png"
            }
        ]
    },
    "faq": {
        "sectionOptions": {
            "title": [
                {
                    "className": "opacity-60",
                    "text": "Questions &amp;"
                },
                {
                    "text": " Answers."
                }
            ],
        },
        "items": [
            {
                "question": "Is Folio Studio open source?",
                "answer": "Yes. Folio Studio is part of the Folio ecosystem and released under the MIT license. You can inspect, modify, and contribute freely."
            },
            {
                "question": "What are the system requirements?",
                "answer": "Folio Studio can run on any system that supports Docker, including Linux, macOS, and Windows. For optimal performance, we recommend at least 512MB of RAM."
            },
            {
                "question": "How can I get started with Folio Studio?",
                "answer": "You can get started by pulling the Docker image from GitHub Container Registry and following the installation instructions in our <a href='/docs' class='underline'>documentation</a>."
            },
            {
                "question": "Can I use it for multiple boards or projects?",
                "answer": "Absolutely. Folio Studio supports unlimited boards, perfect for organizing ideas across projects."
            },
            {
                "question": "Where is my data stored?",
                "answer": "All data is stored locally on your device or server. Folio Studio does not send anything to the cloud or track your usage."
            }
        ]
    },
    "callToAction": {
        "title": "<i class='font-medium'>Get started with</i> Folio Studio.",
        "description": "Folio Studio runs on your machine — no cloud, no noise. Just your ideas, your flow, your space.",
        "primaryActionText": "Read the docs",
        "primaryActionLink": "/docs",
        "secondaryActionText": "Pull from GitHub",
        "secondaryActionLink": "https://github.com/jmjuanes/folio/pkgs/container/folio-studio"
    }
}
---
{{!-- hero section --}}
{{>>hero.mustache ...page.attributes.hero}}
    <div class="flex justify-center">
        <div class="w-full max-w-lg d-flex flex-col bg-gray-950 text-white p-5 rounded-2xl text-lg text-center font-mono">
            <div>$ {{page.attributes.hero.command}}</div>
        </div>
    </div>
{{/hero.mustache}}

{{!-- first features section --}}
{{>>section.mustache ...page.attributes.features.sectionOptions}}
    {{!--
    <div class="mb-8 w-full border-2 border-gray-200 rounded-2xl bg-white overflow-hidden">
        <img src="/screenshots/studio-landing-20251006.png" alt="Folio Studio screenshot" width="100%" loading="lazy">
    </div>
    --}}
    {{>group.mustache size="3" items=page.attributes.features.items}}
{{/section.mustache}}

{{!-- usage features section --}}
{{>>section.mustache ...page.attributes.usage.sectionOptions}}
    {{>group.mustache size="2" items=page.attributes.usage.items}}
{{/section.mustache}}

{{!-- questions and answers section --}}
{{>>section.mustache ...page.attributes.faq.sectionOptions}}
    <div class="">
        {{#each page.attributes.faq.items}}
        <div class="border-b-1 border-white" data-role="faq:item">
            <button class="text-xl w-full flex justify-between items-center border-0 py-6 cursor-pointer" data-role="faq:question">
                <div class="font-bold text-left">{{!this.question}}</div>
                <div class="" data-role="faq:toggle">+</div>
            </button>
            <div class="hidden pt-2 pb-6 text-lg leading-relaxed" data-role="faq:answer">
                {{!this.answer}}
            </div>
        </div>
        {{/each}}
    </div>
{{/section.mustache}}

{{!-- call to action --}}
{{>cta.mustache ...page.attributes.callToAction}}

<script>
    Array.from(document.querySelectorAll(`[data-role="faq:question"]`)).forEach(button => {
        button.addEventListener("click", () => {
            const item = button.closest(`[data-role="faq:item"]`);
            const answer = item.querySelector(`[data-role="faq:answer"]`);
            const isOpen = !answer.classList.contains("hidden");
            // 1. we have to close all other items and change the toggle icon to a '+'
            document.querySelectorAll(`[data-role="faq:answer"]`).forEach(otherAnswerItem => {
                otherAnswerItem.classList.add("hidden");
            });
            document.querySelectorAll(`[data-role="faq:toggle"]`).forEach(otherToggleItem => {
                otherToggleItem.textContent = "+";
            });
            // 2. Now, we toggle the current item
            if (!isOpen) {
                answer.classList.remove("hidden");
                item.querySelector(`[data-role="faq:toggle"]`).textContent = "-";
            }
        });
    });
</script>
