---
{
    "title": "Studio",
    "layout": "default.mustache",
    "permalink": "/studio.html",
    "installation": {
        "command": "docker pull ghcr.io/jmjuanes/folio-studio",
        "links": [
            {
                "text": "Documentation",
                "url": "/docs"
            },
            {
                "text": "GitHub",
                "url": "https://github.com/jmjuanes/folio/pkgs/container/folio-studio"
            }
        ]
    },
    "features": [
        {
            "icon": "bolt",
            "title": "Same Power, but local.",
            "description": "All the features of Folio, but running entirely on your own server or computer without any external dependencies."
        },
        {
            "icon": "lock",
            "title": "Your data, your rules.",
            "description": "No cloud, no tracking. Folio Studio stores everything locally on your server, ensuring that your data remains private and under your control."
        },
        {
            "icon": "files",
            "title": "Unlimited Creativity.",
            "description": "Organize ideas and prototypes in separate spaces. Folio Studio supports unlimited boards to keep your projects tidy and accessible."
        }
    ],
    "faq": [
        {
            "question": "Is Folio Studio open source?",
            "answer": "Yes. Folio Studio is part of the Folio ecosystem and released under the MIT license. You can inspect, modify, and contribute freely."
        },
        {
            "question": "What are the system requirements?",
            "answer": "Folio Studio can run on any system that supports Docker, including Linux, macOS, and Windows. For optimal performance, we recommend at least 512MB of RAM."
        },
        {
            "question": "How can I get started with Folio Studio?",
            "answer": "You can get started by pulling the Docker image from GitHub Container Registry and following the installation instructions in our <a href='/docs' class='underline'>documentation</a>."
        },
        {
            "question": "Can I use it for multiple boards or projects?",
            "answer": "Absolutely. Folio Studio supports unlimited boards, perfect for organizing ideas across projects."
        },
        {
            "question": "Where is my data stored?",
            "answer": "All data is stored locally on your device or server. Folio Studio does not send anything to the cloud or track your usage."
        }
    ]
}
---
<section class="px-6 py-40 flex flex-col justify-center items-center">
    <div class="mb-8 flex items-center justify-center">
        <div class="text-gray-950 px-4 py-1 rounded-full text-base">
            <span class="font-medium">Introducing </span>
            <span class="font-bold">Folio Studio</span>
        </div>
    </div>
    <div class="max-w-4xl mb-6 text-6xl sm:text-7xl md:text-8xl text-center text-gray-950 leading-tight">
        <span class="font-normal italic">Where </span> 
        <span class="font-bold bg-gray-950 text-white rounded-2xl px-4 py-2">Ideas</span> 
        <span class="font-normal italic"> take </span>
        <span class="font-bold underline">Shape</span>. 
        <span class="font-extrabold">Locally.</span>
    </div>
    <div class="max-w-2xl mb-12 text-xl md:text-2xl text-center text-gray-900">
        <span class="">A self-hosted whiteboard built for creators and designers who prefer full control and zero distractions.</span>
    </div>
    <div class="flex flex-col items-center gap-8">
        <div class="w-full max-w-lg d-flex flex-col bg-gray-950 text-white p-5 rounded-2xl text-lg text-center font-mono">
            <div>$ docker pull ghcr.io/jmjuanes/folio-studio</div>
        </div>
        <div class="flex flex-col sm:flex-row items-center gap-4 text-center">
            {{#each page.attributes.installation.links}}
            <a href="{{this.url}}" class="flex gap-4 items-center cursor-pointer font-bold hover:underline text-2xl md:text-3xl">
                <span>{{this.text}} &rarr;</span>
            </a>
            {{/each}}
        </div>
    </div>
</section>
{{>separator.mustache}}
<section class="mx-auto max-w-6xl px-6 pt-28 pb-28 flex flex-col justify-center items-center">
    <div class="max-w-3xl text-4xl md:text-5xl leading-tight mb-24 md:mb-30 text-center">
        <div class="font-medium italic">Your sketching platform. </div>
        <div class="font-extrabold text-gray-950">In your computer.</div>
    </div>
    <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-8">
        {{#each page.attributes.features}}
        <div class="mb-2">
            {{#if this.icon}}
            <div class="flex justify-start mb-6">
                <div class="flex items-center p-3 bg-gray-100 rounded-3xl">
                    {{=icon icon=this.icon className="w-12 h-12"}}
                </div>
            </div>
            {{/if}}
            <div class="font-bold text-2xl leading-tight mb-4 text-gray-950">{{!this.title}}</div>
            <div class="leading-relaxed">{{!this.description}}</div>
        </div>
        {{/each}}
    </div>
</section>
{{>separator.mustache}}
<section class="mx-auto max-w-6xl px-6 pt-28 pb-28 flex flex-col lg:flex-row gap-12">
    <div class="shrink-0 w-full lg:max-w-xs text-4xl md:text-5xl leading-none">
        <span class="font-medium italic">Questions &amp; </span>
        <span class="font-extrabold text-gray-950">Answers</span>
    </div>
    <div class="grow-1">
        {{#each page.attributes.faq}}
        <div class="border-b-1 border-gray-200" data-role="faq:item">
            <button class="text-xl w-full flex justify-between items-center bg-white border-0 py-6 cursor-pointer" data-role="faq:question">
                <div class="font-bold text-left">{{!this.question}}</div>
                <div class="" data-role="faq:toggle">+</div>
            </button>
            <div class="hidden pt-2 pb-6 text-lg leading-relaxed" data-role="faq:answer">
                {{!this.answer}}
            </div>
        </div>
        {{/each}}
    </div>
</section>
<section class="bg-gray-950 text-white px-6 py-28 text-center mx-auto max-w-7xl rounded-4xl">
    <div class="mx-auto max-w-4xl text-5xl md:text-6xl mb-8 text-center leading-none">
        <span class="font-medium italic">Get Started with </span>
        <span class="font-extrabold">Folio Studio.</span>
    </div>
    <div class="opacity-90 text-2xl mb-12 max-w-2xl mx-auto">
        Folio Studio runs on your machine — no cloud, no noise. Just your ideas, your flow, your space.
    </div>
    <div class="flex flex-col sm:flex-row justify-center items-center gap-6">
        <a href="/docs" class="bg-white text-gray-950 px-6 py-4 rounded-3xl text-2xl font-bold hover:bg-gray-200">
            <span>Read the Docs →</span>
        </a>
        <a href="https://github.com/jmjuanes/folio/pkgs/container/folio-studio" class="text-white font-bold text-2xl hover:underline">
            <span>Pull from GitHub →</span>
        </a>
    </div>
</section>

<script>
    Array.from(document.querySelectorAll(`[data-role="faq:question"]`)).forEach(button => {
        button.addEventListener("click", () => {
            const item = button.closest(`[data-role="faq:item"]`);
            const answer = item.querySelector(`[data-role="faq:answer"]`);
            const isOpen = !answer.classList.contains("hidden");
            // 1. we have to close all other items and change the toggle icon to a '+'
            document.querySelectorAll(`[data-role="faq:answer"]`).forEach(otherAnswerItem => {
                otherAnswerItem.classList.add("hidden");
            });
            document.querySelectorAll(`[data-role="faq:toggle"]`).forEach(otherToggleItem => {
                otherToggleItem.textContent = "+";
            });
            // 2. Now, we toggle the current item
            if (!isOpen) {
                answer.classList.remove("hidden");
                item.querySelector(`[data-role="faq:toggle"]`).textContent = "-";
            }
        });
    });
</script>
