<!--html-->
<div class="rounded-lg bg-gray-900 text-yellow-100 border-1 border-yellow-800 px-4 py-3 mb-6">
    <div class="">{{#inlineMarkdown}}{{!@content}}{{/inlineMarkdown}}</div>
</div>
<!--/html-->
