<!doctype html>
<html lang="en" style="overscroll-behavior-x:none;">
<head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="title" content="{{site.title}}">
    <meta name="description" content="{{site.description}}">
    {{#each site.meta}}
    <meta name="{{name}}" content="{{value}}">
    {{/each}}
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap">
    <link rel="stylesheet" href="/docs/low.css">
    <link rel="stylesheet" href="/docs/highlight.css">
    <title>{{page.attributes.title}} - folio docs</title>
    <style>
        .font-brand {
            font-family: Poppins, serif;
            font-weight: 700 !important;
        }
    </style>
</head>
<body class="m-0 p-0 font-sans leading-normal bg-gray-950 text-white min-h-screen">
    <header class="flex items-center justify-between w-full max-w-8xl mx-auto px-8 py-8">
        <a href="/docs/index.html" class="flex items-center gap-1 cursor-pointer leading-none">
            <div class="text-4xl font-brand text-current">folio.</div>
        </a>
        <div class="flex gap-6 items-center">
            {{#each site.navigation}}
            <a href="{{url}}" class="cursor-pointer font-medium hover:underline text-current text-lg">
                <span>{{text}}</span>
            </a>
            {{/each}}
        </div>
    </header>
    <main class="w-full max-w-8xl mx-auto px-8">
        <div class="w-full flex flex-row flex-nowrap md:gap-12">
            <div class="hidden lg:block w-48 shrink-0">
                <div class="sticky flex flex-col gap-8 top-0 h-screen overflow-y-auto overflow-x-hidden py-4">
                    {{#each site.sidebar}}
                    <div class="">
                        <div class="mb-2 text-sm font-bold">
                            <span>{{category}}</span>
                        </div>
                        {{#each items}}
                        <a href="{{url}}" class="block text-sm mb-1 font-medium text-current opacity-80 hover:underline py-1">
                            <span>{{text}}</span>
                        </a>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="w-full max-w-5xl min-w-0 mx-auto py-4">
                <div class="mb-10">
                    <h1 class="text-4xl font-bold text-white mb-0 mt-0 leading-none">
                        <span>{{page.attributes.title}}</span>
                    </h1>
                    {{#if page.attributes.description}}
                    <div class="mt-3 text-lg opacity-70 leading-relaxed">
                        <span>{{page.attributes.description}}</span>
                    </div>
                    {{/if}}
                </div>
                <div class="prose">
                {{#markdown}}
                    {{!@content}}
                {{/markdown}}
                </div>
                <div class="grid items-center grid-cols-2 gap-4 py-6">
                    <div class="w-full flex justify-start">
                        {{#withPage page.attributes.prevPage}}
                        <a href="{{url}}" class="flex flex-nowrap justify-start items-center gap-2">
                            <div class="flex items-center text-xl">
                                {{=icon icon="chevron-left"}}
                            </div>
                            <div class="font-medium">{{attributes.title}}</div>
                        </a>
                        {{/withPage}}
                    </div>
                    <div class="w-full flex justify-end">
                        {{#withPage page.attributes.nextPage}}
                        <a href="{{url}}" class="flex flex-nowrap justify-end items-center gap-2">
                            <div class="font-medium">{{attributes.title}}</div>
                            <div class="flex items-center text-xl">
                                {{=icon icon="chevron-right"}}
                            </div>
                        </a>
                        {{/withPage}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="w-full max-w-8xl mx-auto px-8 py-8">
        <div class="text-sm opacity-70">folio <b>v{{site.version}}</b></div>
    </footer>
</body>
</html>
