<!doctype html>
<html lang="en" style="overscroll-behavior-x:none;">
<head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="title" content="{{site.title}}">
    <meta name="description" content="{{site.description}}">
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="{{site.title}}">
    <meta name="og:description" content="{{site.description}}">
    <meta name="og:image" content="/og-image.png">
    <meta name="og:url" content="{{site.url}}">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap">
    <link rel="stylesheet" href="/vendor/low.css">
    <link rel="stylesheet" href="/vendor/highlight.css">
    <link rel="stylesheet" href="/brand.css">
    <title>{{page.attributes.title}} - folio</title>
</head>
<body class="m-0 p-0 font-sans leading-normal folio:bg-dark-base text-white">
    <header class="absolute top-0 left-0 right-0 flex items-center justify-between w-full px-8 py-8 max-w-9xl mx-auto">
        <a href="/" class="flex items-center gap-1 cursor-pointer leading-none">
            <div class="text-4xl folio:font-brand text-current">folio.</div>
        </a>
        <div class="flex gap-6 items-center">
            {{#each site.navbar.links}}
            <a href="{{this.url}}" class="cursor-pointer font-medium hover:underline text-current text-lg">
                <span>{{this.label || this.title}}</span>
            </a>
            {{/each}}
            {{#if site.navbar.cta}}
            <a href="{{site.navbar.cta.url}}" class="flex items-center gap-1 px-3 py-2 bg-white folio:text-dark-base rounded-xl hover:opacity-90">
                <span class="font-bold text-lg">{{site.navbar.cta.label || site.navbar.cta.title}}</span>
                {{#if site.navbar.cta.icon}}
                <div class="flex items-center text-xl">
                    {{=icon icon=site.navbar.cta.icon}}
                </div>
                {{/if}}
            </a>
            {{/if}}
        </div>
    </header>
    {{!@content}}
    <div class="w-full h-px bg-white opacity-10"></div>
    <footer class="py-8 px-8 max-w-9xl w-full mx-auto flex items-center gap-4 justify-between">
        <div class="text-sm opacity-60">
            <span>{{!site.footer.text}}</span>
        </div>
        <div class="flex gap-4">
            {{#each site.footer.links}}
            <a href="{{this.url}}" class="hover:underline text-current font-bold text-sm">
                <span>{{this.label || this.title}}</span>
            </a>
            {{/each}}
        </div>
    </footer>
</body>
</html>
