---
{
    "layout": "default.mustache"
}
---
<div class="w-full max-w-9xl mx-auto h-px bg-white opacity-10"></div>
<main class="max-w-9xl w-full mx-auto px-8 pt-8 pb-16">
    <div class="w-full flex flex-row flex-nowrap md:gap-12">
        <div class="hidden lg:block w-48 shrink-0">
            <div class="sticky flex flex-col gap-8 top-0 h-screen overflow-y-auto overflow-x-hidden py-4">
                {{#each site.sidebar}}
                <div class="">
                    <div class="mb-2 text-sm font-bold">
                        <span>{{this.group}}</span>
                    </div>
                    {{#each this.pages}}
                    {{#withPage this}}
                    <a href="{{this.url}}" class="block text-sm mb-1 font-medium text-current opacity-80 hover:underline py-1">
                        <span>{{this.attributes.title}}</span>
                    </a>
                    {{/withPage}}
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
        <div class="w-full max-w-4xl min-w-0 mx-auto py-4">
            <div class="mb-16">
                <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold mb-0 mt-0 leading-none">
                    <span>{{page.attributes.title}}</span>
                </h1>
                {{#if page.attributes.description}}
                <div class="mt-3 text-xl sm:text-2xl opacity-70 leading-relaxed">
                    <span>{{page.attributes.description}}</span>
                </div>
                {{/if}}
            </div>
            <div class="prose">
            {{#markdown}}
                {{!@content}}
            {{/markdown}}
            </div>
            <div class="grid items-center grid-cols-2 gap-4 pt-10">
                <div class="w-full flex justify-start">
                    {{#withPage page.attributes.prevPage}}
                    <a href="{{url}}" class="flex flex-nowrap justify-start items-center gap-2 opacity-60 hover:opacity-100">
                        <div class="flex items-center text-xl">
                            {{=icon icon="chevron-left"}}
                        </div>
                        <div class="font-medium">{{attributes.title}}</div>
                    </a>
                    {{/withPage}}
                </div>
                <div class="w-full flex justify-end">
                    {{#withPage page.attributes.nextPage}}
                    <a href="{{url}}" class="flex flex-nowrap justify-end items-center gap-2 opacity-60 hover:opacity-100">
                        <div class="font-medium">{{attributes.title}}</div>
                        <div class="flex items-center text-xl">
                            {{=icon icon="chevron-right"}}
                        </div>
                    </a>
                    {{/withPage}}
                </div>
            </div>
        </div>
        <div class="hidden xl:block w-48 shrink-0">
            <div class="sticky top-0 py-4 text-sm flex flex-col gap-2">
                <div class="flex items-center gap-2 opacity-80 mb-2">
                    <div class="text-base flex items-center">
                        {{=icon icon="text-left"}}
                    </div>
                    <div class="font-medium">On this page</div>
                </div>
                {{#each @toc}}
                <a href="#{{this.slug}}" class="block font-medium text-current hover:underline" style="margin-left: calc({{this.level}}rem - 2rem);">
                    <span>{{this.text}}</span>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</main>
